body {
    background-color: #faf7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1900px;
}
label, span{
    font-family:'Avenir', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin: 0px 5px 0px 5px  ;
}
.text {
  margin-left: 5px;
}
h1, h2, h3 {
    text-align: center;
    font-family:'Avenir', sans-serif;
}

li {
    text-align:left;
    margin-left: 300px;
    font-family:'Avenir', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 30px;
}

ul {
    display: flex;
    justify-content: center;
}

#project-container{
    align-items: center;
    width: 1900px;
    height: inherit;
}
 .tooltip, .tooltip-inventions, .tooltip1, .tooltip-inventions1 {
    position: absolute;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    pointer-events: none;
    font-family: 'Avenir', sans-serif;
    font-weight: bold;
    pointer-events: none;
    /* transform: translateX(-50%); */
    z-index: 9999;
}

 .tooltip-inventions, .tooltip-inventions1 {
    position: absolute;
    text-align: center;
    margin-left: 40px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    pointer-events: none;
    font-family: 'Avenir', sans-serif;
    font-weight: bold;
    pointer-events: none;
    /* transform: translateX(-50%); */
    z-index: 9999;

}


svg {
    border: 1px solid #55c2da;
    margin-right: 1px;
  }
  
text {
    font-family: 'Avenir', sans-serif;
    font-weight: bold;
}

.yAxis .domain {
    stroke: #bbb;   
}

.yAxis .tick line {
    stroke: #bbb;
    stroke-width: 0.5;
    stroke-dasharray: 4, 2;
}

.xAxis .domain {
    stroke: #bbb;   
}

.yAxis text{
    font-size: 14px;
}

.xAxis text {
    font-size: 12px;
}

.xAxis .tick line {
    stroke: #bbb;
    stroke-width: 0.5;
    stroke-dasharray: 4, 2;
}
.xAxisSC .domain {
    stroke: #bbb;   
}

.xAxisSC .tick line {
    stroke: #bbb;
    stroke-width: 0.5;
    stroke-dasharray: 4, 2;
}

.axisLabel {
    font-size: 12px;
    font-weight: bold;
    color: #555;
}

.chart-row {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    row-gap: 20px
}

.chart-inner-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chart-column button{
    float: right;
}


.map-chart-container{
    margin-top: 18px;

}
.flex-item {
    margin: 10px, 10px, 10px, 10px
}
button {
    color: rgb(76, 73, 73);
    font-weight: bold;
    background-color: #55c2da;
    border-color: #4fadc2;
    cursor: pointer;
    
}

 input {
    color: rgb(76, 73, 73);
    font-weight: bold;
    background-color: #55c2da;
    border-color: #55c2da;
    cursor: pointer;
}
button:hover, input:hover {
    font-weight: bold;
    background-color: #68d3eb;
    cursor: pointer;
}

.series-labels:hover, .line-series:hover, .circle-series:hover {
    cursor: pointer;
}

#scatter-plot {
    margin-top: 21px;
}

.axis .domain {
    stroke: none;
  }
  
  .x .tick line {
    stroke: lightgrey;
    stroke-dasharray: 5;
  }

  .image-pulse {
    animation: pulse 3s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0.15;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.15;
    }
  }

  #dropdown_dataset, #dropdown_country, 
  #dropdown-dataset-map, #dropdown-select, 
  button, input, #inventions-container,
  #dropdown_dataset1, #dropdown_country1, 
  #dropdown-dataset-map1, #dropdown-select1, 
  button, input, #inventions-container1{
    font-size: 18px;
  }

  .map-path {
    stroke-width: 0.3;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  #dropdown-select option{
    font-size: 18px;
    padding: 18px;
  }

  #column2 {
    /* margin-top: 26px; */
  }

  .control-wrapper-1{
    border: 2px solid #55c2da;
    border-right: white;
    border-bottom: 1px #55c2da;
    padding-top: 22px;
  }

  .control-wrapper-2{
    border: 2px solid #55c2da;
    border-left: white;
    border-bottom: 1px #55c2da;
    padding-top: 40px;
    padding-bottom: 28px;
  }